version: '2'

services:
    activemq:
        build: ./Activemq
        ports:
            - "61616:61616"
            - "8161:8161"
            - "5672:5672"
            - "61613:61613"
            - "1883:1883"
            - "61614:61614"
    kafka:
        build: ./Kafka
        ports:
            - "2181:2181"
            - "9092:9092"
    taktstrasse:
        build: ./Taktstrasse
        links:
            - activemq
            - kafka
    spark:
        build: ./Spark
        links:
            - kafka
	    - mongo
        ports:
            - "8080:8080"
            - "7077:7077"
        environment:
            - SPARK_OPTS="--driver-memory=5g --executor-memory=5g"
            - JAVA_OPTS=-verbose:gc -Xms1G -Xmx1G
#     mongo:
#	build:./MongoDB
#	links:
#	ports:
#	    - "27017:27017"